.DS_Store
*.exe
*.out
*.dll
*.so
*.dylib
*.app
*.apk
*.jar
*.war
*.ear
*.log
*.tmp
*.swp
*~
Thumbs.db
.env
package-lock.json
yarn.lock
node_modules
.vscode/
/build/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
*.suo
*.cache
*.project
*.history
*.tmproj
*.rsuser
*.swo
*.swp
*.sublime-workspace
*.sublime-project
*.sublime-project.*
*.sublime-settings
*.sublime-*
/dist/
/build/
/out/
/.idea/
/node_modules/
/.env/
/.env.local/
/.env.*.local/
.env.local
.env.development.local
.env.test.local
.env.production.local
/.venv/
/pip-selfcheck.json
*.sqlite
*.sqlite3
*.db
*.sqlitedb
*.db-journal
*.class
build/
target/
_site/
.vscode/settings.json

